@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styling */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;  /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1a202c; /* Track color */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568; /* Thumb color */
    border-radius: 4px;
    border: 2px solid #1a202c; /* Creates space around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096; /* Thumb hover color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: #63b3ed; /* Thumb active color */
}

.custom-scrollbar::-webkit-scrollbar-corner {
    background: #1a202c; /* Corner color */
}

@media (min-width: 1024px) {
    #sidebar {
        z-index: 30;
    }
}
